<section class="funding">
  <div class="funding__content">
    <div class="activity">
      <div class="activity__content">
        <div class="activity__title"><p>Förderschwerpunkte</p></div>
        <div class="activity__menu">
          <ul class="activity__menu-list">
            <li class="activity__menu-item">
              <a href="#"> <span>Motorik</span></a>
            </li>
            <li class="activity__menu-item">
              <a href="#"> <span>Kreativität</span></a>
            </li>
            <li class="activity__menu-item">
              <a href="#"> <span>Sozialkompetenz</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
