<footer class="footer">
  <div class="footer-top">
    <div class="footer-top__contacts">
      <div class="social">
        <div class="social__logo">
          <img src="assets/images/contacts-logo.svg" alt="" />
        </div>
        <div class="social__description">
          <div class="social__title">
            <p>
              Hier kommt bald ein einzigartiger & passender Kiga+ Slogan hin!
            </p>
          </div>
          <div class="social__subtitle"><span>Kiga+ Team</span></div>
        </div>
        <div class="social__about">
          <p><a href="#">Über uns</a></p>
          <p><a href="#">Kontakt</a></p>
          <p><a href="#">Häufig gestellte Fragen</a></p>
        </div>
      </div>
      <div class="social__block">
        <a href="#" class="social__newsletter">
          <span>Hier für den Newsletter anmelden</span>
        </a>
        <div class="social__links">
          <div class="social__link-icon">
            <a href="#">
              <img src="assets/images/contacts-inst.svg" alt=""
            /></a>
          </div>
          <div class="social__link-icon">
            <a href="#">
              <img src="assets/images/contacts-facebook.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__content">
      <div class="footer-bottom__agreement">
        <h3>2023 © KiGa+. Alle Rechte vorbehalten.</h3>
      </div>
      <div class="footer-bottom__menu">
        <ul class="footer-bottom__list">
          <li class="footer-bottom__item">
            <a href="#"><span>Impressum</span></a>
          </li>
          <li class="footer-bottom__item">
            <a href="#"><span>Datenschutz</span></a>
          </li>
          <li class="footer-bottom__item">
            <a href="#"><span>AGB</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
