<section class="daily">
  <div class="daily__container">
    <div class="daily__slider">
      <div class="slider">
        <div class="slider__img">
          <img src="assets/images/daily-img.png" alt="" />
        </div>
        <div class="slider__descr">
          <div class="slider__header">
            <span>Deine Tagesaufgabe auf&nbsp;Kiga+</span>
          </div>
          <div class="slider__subheader">
            <span>Eine Lernplattform für Lorem ipsum dolor.</span>
          </div>
          <a href="">
            <div class="slider__btn"><span>Zum Wochenplan</span></div>
          </a>
        </div>
      </div>
    </div>
    <div class="daily__options">
      <div class="card">
        <div class="daily__card">
          <div class="daily__card-img">
            <img src="assets/images/daily-download.svg" alt="" />
          </div>
          <div class="daily__card-descr">
            <span>Meine Downloads</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="daily__card">
          <div class="daily__card-img">
            <img src="assets/images/star1.svg" alt="" />
          </div>
          <div class="daily__card-descr">
            <span>Meine Favoriten</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="daily__card">
          <div class="daily__card-img">
            <img src="assets/images/daily-check.svg" alt="" />
          </div>
          <div class="daily__card-descr"><span>Mein Konto</span></div>
        </div>
      </div>
      <div class="card">
        <div class="daily__card">
          <div class="daily__card-img">
            <img src="assets/images/walletmoney.svg" alt="" />
          </div>
          <div class="daily__card-descr">
            <span>Abo &amp Zahlung</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="daily__card">
          <div class="daily__card-img">
            <img src="assets/images/people.svg" alt="" />
          </div>
          <div class="daily__card-descr"><span>Team Bereich</span></div>
        </div>
      </div>
      <div class="card">
        <div class="daily__card">
          <div class="daily__card-img">
            <img src="assets/images/repeat.svg" alt="" />
          </div>
          <div class="daily__card-descr">
            <span>Passwort ändern</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
