<section class="hero">
  <div class="hero__container">
    <div class="hero__about">
      <div class="hero__title"><h1>Lernen &amp; Entdecken</h1></div>
      <div class="hero__subtitle"><p>für kleine Helden!</p></div>
    </div>
    <div class="hero__img">
      <img src="assets/images/sloganImg.svg" alt="" />
    </div>
  </div>
  <app-burger-block [ngClass]="{'active': isActive}"></app-burger-block>
  <div class="burger__block" >
    <div class="burger__menu">
      <ul class="burger__list">
        <li class="burger__item">
          <a href="">
            <span>Startseite</span>
          </a>
          
        </li>
        <li class="burger__item">
          <a href="">
            <span>Ideen</span>
          </a>
        </li>
        <li class="burger__item">
          <a href="">
            <span>Wochenplan</span>
          </a>
        </li>
        <li class="burger__item">
          <a href="">
            <span>Shop</span>
          </a>
        </li>
        <li class="burger__item">
          <a href="">
            <span>Abonnement</span>
          </a>
        </li>
        <li class="burger__item">
          <a href="">
            <span>Über uns</span>
          </a>
        </li>
        <li class="burger__item">
          <a href="">
           <span>Kontakt</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>




