<section class="themed">
  <div class="themed__content">
    <div class="activity">
      <div class="activity__content">
        <div class="activity__title"><p>Beschäftigungsart</p></div>
        <div class="activity__menu">
          <ul class="activity__menu-list">
            <li class="activity__menu-item">
              <a href="#"> <span>Gestaltung</span></a>
            </li>
            <li class="activity__menu-item">
              <a href="#"> <span>Fingerspiel</span></a>
            </li>
            <li class="activity__menu-item">
              <a href="#"> <span>Aktion</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
