.header {
  width: 100%;
  padding-top: em(37);
  padding-bottom: em(30);
  position: relative;

  @include mobile {
    padding-top: em(25);
    padding-bottom: em(22);
  }

  &__container {
    display: flex;
    align-items: center;
    max-width: em(1470);
    padding: 0 em(10);
    width: 100%;
    margin: 0 auto;

    @include mobile {
      flex-flow: row wrap;
      align-items: center;
    }
  }

  &__logo {
    max-width: em(146);
    width: 100%;

    @include mobile {
      order: 1;
      max-width: 100%;
      width: 50%;
    }
  }

  &__menu {
    padding-left: em(140);

    @include mobile {
      display: none;
    }
  }

  &__search {
    
    padding-left: em(98);
    width: 100%;

    @include mobile {
      padding: 0;
      order: 3;
    }
  }

  &__burger {
    padding-left: em(34);

    @include mobile {
      order: 2;
      width: 50%;
      padding: 0;
      display: flex;
      justify-content: flex-end;
    }
    .burger {
      &__btn{
        padding: em(22);
        border-radius: em(16);
        background: rgb(255, 255, 255);
        cursor: pointer;

        & img {
          width: em(17);
          height: em(17);
        }
      }
      &__img {
       display: none;
      }

    }
    .active {
      display: block;
    }
  }

  &__popup {
    width: 100%;
    // height: 100px;
    background: #fff;
    padding: em(30);
    border-radius: em(16);

    &-results{
      padding-top: em(40);
    }

    &-result{
      position: relative;
      padding-bottom: em(20);
      &-title{
        span {
          font-family: 'Quicksand', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: em(12);
          line-height: em(15, 12);
  
          color: #01723C;
        }
      }
      &-subtitle{
        span {
          font-family: 'Quicksand', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;

          color: #000000;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: em(37);
        height: em(2);
        background: #D9D9D9;
      }
    }
  }





}

.logo {
  max-width: em(146);
  width: 100%;
  background-color: inherit;

  img {
    max-width: em(146);
    height: em(127);
    width: 100%;

    @include mobile {
      max-width: em(84);
      height: em(81);
    }
  }
}

.search {
  display: flex;

  background: #fff;
  border: none;
  outline: none;
  max-width: em(315);
  width: 100%;

  border: 1px solid rgba(73, 73, 73, 0.17);
  border-radius: em(16);

  @include mobile {
    max-width: 100%;
    margin-top: em(15);
  }

  input {
    background: #fff;
    border: none;
    outline: none;
    padding: em(16) em(26);
    width: 100%;
    border-radius: em(16);
    padding-right: 0;
    outline: none;
    &:focus-within {
      background: #E4F0EA
      ;
    }

  }

  &__img {
    padding-left: em(10);
    padding-right: em(20);
    cursor: pointer;
  }
  &:focus-within {
    background: #E4F0EA
    ;
  }
}

.menu {
  display: flex;
  flex-grow: 1;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    padding: em(10) em(34);
    background: #e3e3e3;
    border-radius: em(16);
    max-height: em(51);
    cursor: pointer;
    a {
      display: flex;
    }

    img {
      padding-left: em(12);
      padding-top: em(2);
    }

    span {
      white-space: nowrap;
      color: #01723c;
      font-family: "Caraque", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: em(28);
      line-height: em(34, 28);
      text-align: center;
    }

    &--active {
      background: #01723c;
      span {
        color: #fff;
      }
    }
  }

  &__item:hover {
    background: #ffc700;
    & a {
      color: #01723c;
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f3f3f3;
  border-top: 1px solid rgba(1, 114, 59, 0.1);

  width: 100%;
  padding-top: em(50);
  padding-bottom: em(50);

  &__container {
    display: flex;
    align-items: center;
    max-width: em(1470);
    padding: 0 em(10);
    width: 100%;
    margin: 0 auto;
  }

  &__descr {
    max-width: em(225, 20);
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: em(20);
    line-height: em(24, 20);
  }

  &__menu {
    padding-left: em(88);
  }
}

