<section class="ideas">
  <div class="ideas__content">
    <div class="swipe">
      <div class="swipe__container">
        <div class="swipe__header">
          <h2>Hier gibt es aktuelle Lern-Ideen zu entdecken!</h2>
          <div class="swipe__btn">
            <a href="#"><span>Alle Themen</span></a>
          </div>
        </div>
        <div class="swipe__content">
          <div class="swipe__item">
            <div class="swipe__top">
              <div class="swipe__item-img">
                <img src="assets/images/children-explore.png" alt="" />
              </div>
            </div>
            <div class="swipe__bottom">
              <div class="swipe__title"><span>Fingerspiel</span></div>
              <div class="swipe__descr">
                <p>Hörst du den Dino schmatzen?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
