<section class="newsletter">
  <div class="newsletter__content">
    <div class="newsletter__header"><h2>Kostenloser Newsletter</h2></div>
    <div class="newsletter__subheader">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt .
      </p>
    </div>
  </div>
    <div class="newsletter__serch">
      <div class="newsletter__input">
        <input type="text" placeholder="E-Mail Adresse" />
        <img
        class="search__img"
        src="assets/images/icon_search_footer.svg"
        alt=""
        />
    </div>
    </div>
</section>
