@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Caraque-regular";
  src: url("/assets/fonts/Caraque-Medium.otf");
}

@font-face {
  font-family: "Caraque";
  src: url("/assets/fonts/Caraque-Regular.otf");
}

