
<section class="employment">
  <div class="employment__content">
    <div class="activity">
      <div class="activity__content">
        <div class="activity__title"><p>Themenwelt</p></div>
        <div class="activity__menu">
          <ul class="activity__menu-list">
            <li class="activity__menu-item">
              <a href="#"> <span>Jahreszeiten</span></a>
            </li>
            <li class="activity__menu-item">
              <a href="#"> <span>Nachhaltigkeit</span></a>
            </li>
            <li class="activity__menu-item">
              <a href="#"> <span>Tiere</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
